body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: azure;
  /* add grey and white to make it easier to look at  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  margin: 40px auto;
}

#heart {
  color: red;
  font-weight: bold;
}

.card-header {
  letter-spacing: 0.04em;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  color: azure;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 90%;
  align-self: center;
  margin: 10px;

  border-radius: calc(0.25rem - 1px);
}

#main-row {
  margin: 0px 3rem;
}

#card-footer {
  text-align: end;
}
